
/* Memo_app_CSS_File */

html,
body {
  width:100%;
  height:100%;
  overflow:hidden;
  font-family:"Meiryo UI","MeiryoKe_Gothic", "MS Gothic", monospace;
  font-size: 12px;
}

body {
  padding:10px;
}

#memo_title {
	margin-bottom: 6px;
}

#memo_text {
  height:200px;
  margin-bottom:6px;
  background:#fcfcfc;
  overflow-y:scroll;
}

#conf_detail {
	margin-bottom:6px;
}

#conf_detail_btn {
	height: 25px;
	padding: 3px;
}

#memo_app_msg {
  display:none;
  display:inline-block;
  margin-left:2rem;
}

#new, #pre {
	margin-left: 1rem;
	margin-right: 1rem;
}

#save, #cancel {
  width: 45%;
	margin-left: 0.3rem;
	margin-right: 0.3rem;
}

.detail_groups, #conf-detail-btn {
	margin-bottom: 6px;
}

#memo_app_msg {
  display: none; /* 初期状態は非表示 */
  margin-left: 0px;
  margin-right: 0px;
}

.hidden_group {
  display: none;
}